<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:inputText value="#{bean.plane.name}"/>
            <br/>
            <h:inputText value="#{bean.plane.speed}"/>
            <br/>
            <h:inputText value="#{bean.plane.high}"/>
            <br/>
            <h:inputText value="#{bean.air}"/>
            <br/>
            <h:inputText value="#{bean.sirie.siriename}"/>
            <br/>
            <h:inputText value="#{bean.sirie.money}"/>
            <br/>
            <h:commandButton value="add plane" action="#{bean.ex1()}" />
            <br/>
            <h:commandButton value="add plane" action="#{bean.ex2()}" />
            <br/>
            <h:commandButton value="add plane" action="#{bean.ex3()}" />
            <br/>
            <h:commandButton value="add plane" action="#{bean.ex4()}" />
            <br/>
            <h:commandButton value="add plane" action="#{bean.ex5()}" />
        </h:form>
    </h:body>
</html>

