<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <table>
                <tr>
                    <td>№</td>
                    <td>Название</td>
                    <td>Скорость</td>
                    <td>Высота</td>
                    <td>Аэропорт</td>
                </tr>
                <ui:repeat value="#{bean.list}" var="plist">
                <tr>
                    <td>${plist.id}</td>
                    <td>${plist.name}</td>
                    <td>${plist.speed}</td>
                    <td>${plist.high}</td>
                    <td>${plist.airport.name}</td>
                </tr>
            </ui:repeat>
            </table>
            <br/>
            <h:link outcome="addPlane" value="addPlane" />
            <br/>
            <h:link outcome="addAir" value="addAirport" />
            
        </h:form>
    </h:body>
</html>

